<div id="user-nav">
  <% if current_user %>
    Signed in as <%= current_user.name %>
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Goodreads", "/auth/Goodreads" %>
  <% end %>
</div>

<body class = "index"> 
    <div class="groupsContainer">
      <p>Loading</p>
    </div>
</body> 

<script type='text/template' id='groupTemplate'>
  {{ if (status == 'populated') { }}
    <a href='{{= url }}'>{{= name }}</a>
  {{ } else { }}
    {{= name }}
  {{ } }}
  <br/>
  Group status: {{= status }}<br/>
  <br/>
</script>

<script type="text/javascript">
   BetterReads.Groups.Index.setup();
</script>
