

#map {

margin-top: -20px;
margin-left: 125px;
border:14px solid #021a40;
}


.close {

  margin-top: -35px;
}

.back {

  margin-top: -20px;
}


.title {

  text-align: center;
  margin-left: 500px;
}

.comingsoon {

  text-align: center;
}

.bio1 {

  text-align: left;
}

.bio1 img {

  width: 300px;
  border:7px solid; 
  color:white;
  margin-top: -10px;
}


.contact {

  color:black;
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
}


#user-nav {

  color:black;
  text-align: right;
}

.header {

text-align: center;  
}

.step1 {

  margin-left: 210px;
}

.circle
{
  width:200px; 
  height:200px;
  border-radius:150px;
  background-color:#000;
  padding: 50px;
  text-align: center;
  margin-left: 140px;
}

.step2 {

  margin-left: 555px;
  margin-top: -250px;
}

.circle2
{
  width:200px; 
  height:200px;
  border-radius:150px;
  background-color:#000;
  padding: 50px;
  text-align: center;
  margin-left: 490px;
}

.step3 {

  margin-left: 920px;
  margin-top: -250px;
}

.circle3
{
  width:200px; 
  height:200px;
  border-radius:150px;
  background-color:#000;
  padding: 50px;
  text-align: center;
  margin-left: 850px;
}

body.index {

  background-color: #4BBE8E;
  
}

.grouplist {

  text-align: center;
  margin-top: 50px
}

.groupl {

  margin-top: 30px;
  text-align: center
}


//  .circle .span{

//   color: white;
//   margin-top:10px;
//   font-size: 55px;
// }