// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {

margin-top: 80px;
margin-left: 175px;
border:14px solid #021a40;
}

#user-nav {

  color:black;
  text-align: right;
}

.step1 {

  margin-left: 90px;
}

.circle
{
width:250px;
height:250px;
border-radius:125px;
color:#fff;
line-height:250px;
text-align:center;
background:#000
}

.step2 {

  margin-left: 370px;
}

.circle2
{
width:250px;
height:250px;
border-radius:125px;
color:#fff;
line-height:250px;
text-align:center;
background:#000;
margin-left: 370px
}

.step3 {

  margin-left: 500px;
}

.circle3
{
width:250px;
height:250px;
border-radius:125px;
color:#fff;
line-height:250px;
text-align:center;
background:#000;
margin-left: 500px
}

//  .circle .span{

//   color: white;
//   margin-top:10px;
//   font-size: 55px;
// }